<div id="titlebar" class="single submit-page">
  <div class="container">

    <div class="sixteen columns">
      <h2><i class="fa fa-plus-circle"></i> New Experience</h2>
    </div>

  </div>
</div>

<%= render 'form', experience: @experience %>

<%= link_to 'Back', experiences_path %>
