<div id="titlebar" class="single submit-page">
  <div class="container">

    <div class="sixteen columns">
      <h2><i class="fa fa-user" style="color:#37a000"></i>My Personal Information</h2>
    </div>

  </div>
</div>

<%= render 'form', personalinformation: @personalinformation %>

<%= link_to 'Back', personalinformations_path %>
