<div class="container">
  <div class="air-card">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="air-card" style="box-shadow: none;padding:10px 0px;">
    <%= link_to 'Edit', edit_education_path(@education), :class => "button" %> |
    <%= link_to 'Back', educations_path, :class => "button" %>
  </div>
</div>