<div id="titlebar" class="single submit-page hire-title">
  <div class="container">

    <div class="sixteen columns">
      <h1><i class="fa fa-user" style="color:#37a000;"></i> Lets Hire The Right Candidate</h1>
    </div>

  </div>
</div>

<%= render 'form', hire_detail: @hire_detail %>

<%= link_to 'Back', hire_details_path %>
