<div id="titlebar" class="single submit-page feedback-title">
  <div class="container">

    <div class="sixteen columns">
      <h2><i class="fa fa-retweet"></i> Give your Feedback</h2>
    </div>

  </div>
</div>

<%= render 'form', feedback: @feedback %>

<%= link_to 'Back', feedbacks_path %>
