<div id="titlebar" class="single submit-page feedback-title">
  <div class="container">

    <div class="sixteen columns">
      <h2><i class="fa fa-retweet"></i> Your Feedbacks</h2>
    </div>

  </div>
</div>

<div class="container">


  <p id="notice"><%= notice %></p>

  <%= link_to 'Edit', edit_feedback_path(@feedback),class:"button"  %> |
  <%= link_to 'Back', feedbacks_path,class:"button"  %>


</div>