<div id="titlebar" class="single submit-page newcustomer-title">
  <div class="container">

    <div class="sixteen columns">
      <h2><i class="fa fa-user-plus"></i> New Customer</h2>
    </div>

  </div>
</div>
<%= render 'form', customer_user: @customer_user %>


