<div class="container">
  <div class="air-card">
    <p id="notice"><%= notice %></p>
    </div>
    <div class="air-card" style="box-shadow: none;padding:10px 0px;">
      <%= link_to 'Edit', edit_profilepicture_path(@profilepicture), :class => "button" %> |
      <%= link_to 'Back', profilepictures_path, :class => "button" %>
    </div>
  </div>