<div class="container">
  <h1>Editing Profile</h1>

  <%= render 'form', profile: @profile %>
  <div class="air-card" style="box-shadow: none;padding:10px 0px;">
    <%= link_to 'Show', @profile, :class => "button" %>
    <%= link_to 'Back', profiles_path, :class => "button" %>
  </div>
</div>