<div class="container">
  <div class="air-card" style="box-shadow: none;padding:10px 0px;">
    <%= link_to 'Edit', edit_profile_path(@profile), :class => "button" %>
    <%= link_to 'Back', profiles_path, :class => "button" %>
  </div>
</div>