
<div id="titlebar" class="single submit-page about-title">
  <div class="container">

    <div class="sixteen columns">
      <h1><i class="fa fa-barcode fa-1x" style="color:white"></i>  A Few Word About Us</h1>
    </div>

  </div>
</div>

<div class="container">


  <!-- intro -->

  <div id="intor" class="row about-us">
    <div class="col-lg-5 col-md-5 wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
      <figure>
       <%= image_tag "about-1.jpg" %>
      </figure>

      </div>
    <div class="col-lg-7 col-md-7 wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInRightBig;">


      <div class="mod-article-single mod-article-single__about-us" id="module_162">



          <!-- Intro Text -->
          <div class="item_introtext">
            <h2 style="color: #2bbfbd;">Computer Science and Engineering Department </h2>
            <h3 style="color: #2bbfbd;">Khulna University, Khulna , Balgladesh </h3>
            <p>In completaion of the source of <b> Software Project Development</b>, we have have designed this web application</p>
            <h3 style="color: #2bbfbd;">Application Description</h3>
            <p>This web application supports different features. The main concept for this application is to enable communication for the photographer and customers.
            Photography is a booming industry now. However the job portal or similar application is not available. Therefore this application will help both photographer and customer alot. </p>


          </div>

      </div>
    </div>
  </div>


  <div class="row" style="margin:30px 0px;">

    <ul class="contact-tabs">
      <li> <a href="#feature-tab"> Feature </a></li>
      <li> <a href="#maintop"> Team </a></li>
      <li> <a href="#mainbottom"> Supervisor </a></li></li>
    </ul>

</div>

  <div class="row">
    <h2 style="color: #2bbfbd; margin-bottom: 25px;">Features</h2>
  </div>
    <div id='feature-tab' class="row tab-content">


        <div class="col-md-6 col-sm-6 col-xs-12 block block__mod wow fadeInLeft animated" data-wow-duration="2s" data-wow-delay="0.2s" style="border: 2px solid #F1F2F3;visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInLeft;">

            <div class="block-header">
              <h2>For Photographer</h2>
              <h5>Currently this application support 20 use cases for photographer</h5>
              <hr/>
            </div>
            <ul class="marked-list">
              <li><i class="fa fa-check"></i>Sign Up as a Photographer</li>
              <li><i class="fa fa-check"></i>Change Password</li>
              <li><i class="fa fa-check"></i>Create/ Update Protfolio</li>
              <li><i class="fa fa-check"></i>Create/ Update Profile</li>
              <li><i class="fa fa-check"></i>Create / Update Education</li>
              <li><i class="fa fa-check"></i>Create / Update Experience</li>
              <li><i class="fa fa-check"></i>Create / Update Certification</li>
              <li><i class="fa fa-check"></i>Create / Update Training</li>
              <li><i class="fa fa-check"></i>Create / Update Profile picture</li>
              <li><i class="fa fa-check"></i>Search jobs</li>
              <li><i class="fa fa-check"></i>Apply for Job</li>
              <li><i class="fa fa-check"></i>Real time communication with customer</li>
              <li><i class="fa fa-check"></i>Application status check</li>
              <li><i class="fa fa-check"></i>Hire detail status check</li>
            </ul>


        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeInRight;">
          <div class="block" style="height:624px">
            <div class="block-header">
              <h2>For Customer</h2>
              <h5>Currently this application support 10 use cases for Customer</h5>
              <hr/>
              <div>
                <ul class="marked-list">
                  <li><i class="fa fa-check"></i>Sign Up as a Customer</li>
                  <li><i class="fa fa-check"></i>Change Password</li>
                  <li><i class="fa fa-check"></i>Create/Update Protfolio</li>
                  <li><i class="fa fa-check"></i>Create / Update Profile picture</li>
                  <li><i class="fa fa-check"></i> Find Photographer</li>
                  <li><i class="fa fa-check"></i> Hire Photographer</li>
                  <li><i class="fa fa-check"></i>Real Time Communication with Photographer</li>
                  <li><i class="fa fa-check"></i> Post New Job</li>
                  <li><i class="fa fa-check"></i> Manage Applications</li>
                </ul>

              </div>
            </div>
          </div>
        </div>
    </div>





  <!-- Maintop -->

  <div id="maintop" class="row tab-content">
    <div class="col-lg-12">
      <h2 style="color: #2bbfbd;">Our Team</h2>

      <div class="row" style="margin-top: 35px;">
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeInRight;">
        <div class="item_content">
          <!-- Intro Image -->
          <figure class="item_img img-intro img-intro__none">
            <img src="http://livedemo00.template-help.com/joomla_55097/images/team/team-4.jpg" alt="">
          </figure>
          <!-- Item title -->
          <h4 style="color: #2bbfbd;">  Rafflesia Khan	</h4>
          <!-- Introtext -->
          <div class="item_introtext">
            <p>Roll No:130233</p>
            <p>3rd Year 2nd term</p>
            <ul class="social-links">
              <li class="firstItem"><a href="https://plus.google.com/u/0/112821821238267375870" class="fa fa-google-plus"></a></li>
              <li><a href="#" class="fa fa-pinterest"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li class="lastItem"><a href="https://www.facebook.com/rafflesia.khan?fref=ts" class="fa fa-facebook"></a></li>
            </ul>
          </div>


          <!-- Read More link -->
        </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeInRight;">
          <div class="item_content">
            <!-- Intro Image -->
            <figure class="item_img img-intro img-intro__none">
              <img src="http://livedemo00.template-help.com/joomla_55097/images/team/team-2.jpg" alt="">
            </figure>
            <!-- Item title -->
            <h4 style="color: #2bbfbd;"> Raisa	</h4>
            <!-- Introtext -->
            <div class="item_introtext">
              <p>Roll No:120215</p>
              <p>3rd Year 2nd term</p>
              <ul class="social-links">
                <li class="firstItem"><a href="#" class="fa fa-google-plus"></a></li>
                <li><a href="#" class="fa fa-pinterest"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li class="lastItem"><a href="#" class="fa fa-facebook"></a></li>
              </ul>
            </div>
            <!-- Read More link -->
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeInRight;">
          <div class="item_content">
            <!-- Intro Image -->
            <figure class="item_img img-intro img-intro__none">
              <img src="http://livedemo00.template-help.com/joomla_55097/images/team/team-2.jpg" alt="">
            </figure>
            <!-- Item title -->
            <h4 style="color: #2bbfbd;"> Zuel	</h4>
            <!-- Introtext -->
            <div class="item_introtext">
              <p>Roll No:120232</p>
              <p>3rd Year 2nd term</p>
              <ul class="social-links">
                <li class="firstItem"><a href="#" class="fa fa-google-plus"></a></li>
                <li><a href="#" class="fa fa-pinterest"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li class="lastItem"><a href="#" class="fa fa-facebook"></a></li>
              </ul>
            </div>
            <!-- Read More link -->
          </div>
        </div>


      </div>





    </div>

  </div>

  <div id="mainbottom" class="row tab-content">
    <div class="col-lg-12">
      <h2 style="color: #2bbfbd;">Our Supervisor</h2>

      <div class="row" style="margin-top: 35px;">
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeInRight;">
          <div class="item_content">
            <!-- Intro Image -->
            <figure class="item_img img-intro img-intro__none">
              <img src="http://livedemo00.template-help.com/joomla_55097/images/team/team-1.jpg" alt="">
            </figure>
            <!-- Item title -->
            <h4 style="color: #2bbfbd;">  zzzz	</h4>
            <!-- Introtext -->
            <div class="item_introtext">
              <p>Roll No:</p>
              <p>3rd Year 2nd term</p>
              <ul class="social-links">
                <li class="firstItem"><a href="https://plus.google.com/u/0/112821821238267375870" class="fa fa-google-plus"></a></li>
                <li><a href="#" class="fa fa-pinterest"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li class="lastItem"><a href="https://www.facebook.com/rafflesia.khan?fref=ts" class="fa fa-facebook"></a></li>
              </ul>
            </div>


            <!-- Read More link -->
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeInRight;">
          <div class="item_content">
            <!-- Intro Image -->
            <figure class="item_img img-intro img-intro__none">
              <img src="http://livedemo00.template-help.com/joomla_55097/images/team/team-3.jpg" alt="">
            </figure>
            <!-- Item title -->
            <h4 style="color: #2bbfbd;">zzzza	</h4>
            <!-- Introtext -->
            <div class="item_introtext">
              <p>Associate professor</p>
              <p>3rd Year 2nd term</p>
              <ul class="social-links">
                <li class="firstItem"><a href="#" class="fa fa-google-plus"></a></li>
                <li><a href="#" class="fa fa-pinterest"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li class="lastItem"><a href="#" class="fa fa-facebook"></a></li>
              </ul>
            </div>


            <!-- Read More link -->
          </div>
        </div>


      </div>





    </div>

  </div>



</div>



