<div id="titlebar" class="single submit-page newphotographer-title">
  <div class="container">

    <div class="sixteen columns">
      <h2><i class="fa fa-user-plus"></i> New Photographer</h2>
    </div>

  </div>
</div>

<%= render 'form', photographer_user: @photographer_user %>


