<div class="container" style="min-height:500px;">
  <!-- <div class="row">
     <div class="col-md-12">
       <hgroup class="text-center">
         <h1>Let's get started!</h1>
         <h1>First, tell us what you're looking for.</h1>
       </hgroup>
     </div>



     <div class="col-md-12">
       <div class="col-md-5">
         <div class="text-muted">
           <div><i class="glyphicon-xlg air-icon-client"></i></div>
           <div class="o-user-type-selection">I want to hire a photographer</div>
         </div>
         <p class="fs-sm m-lg-bottom">
           Find, collaborate with,
           <br>
           and pay an expert.
         </p>
         <a class="btn btn-primary text-capitalize m-0" href="/photographer/users/new">New PhotoGrapher</a>
       </div>

       <div class="col-md-2 o-or-divider">OR</div>

       <div class="col-md-5">
         <div class="text-muted">
           <div><i class="glyphicon-xlg air-icon-freelancer"></i></div>
           <div class="o-user-type-selection">I'm looking for online work</div>
         </div>
         <p class="fs-sm m-lg-bottom">
           Find freelance projects and
           <br>
           grow your business.
         </p>
         <a class="btn btn-primary text-capitalize m-0" href="/customer/users/new">New Customer</a>
       </div>
     </div>
   </div>-->

  <div class="row">
    <div class="col-md-12">
      <hgroup class="text-center">
        <h1>Let's get started!</h1>
        <h1>First, tell us what you're looking for.</h1>
      </hgroup>
    </div>
  </div>


  <div class="row" style="padding:50px 0px; ">
    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft animated" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInLeft;">
      <div class="block block__mod">
        <div class="block-header">
          <h2>For Photographer</h2>
          <hr/>
        </div>
        <ul class="marked-list">
          <li><a href="#"> <i class="fa fa-check"></i>  Find Customer</a></li>
          <li><a href="#"><i class="fa fa-check"></i> Salary surveys</a></li>
          <li><a href="#"><i class="fa fa-check"></i> Search jobs</a></li>
          <li><a href="#"><i class="fa fa-check"></i> Direct your career</a></li>
          <li><a href="#"><i class="fa fa-check"></i> Real time communication</a></li>
        </ul>
        <a class="btn btn__mod1" href="/photographer/users/new"><i class="fa fa-users">New Photographer </i></a>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeInRight;">
      <div class="block">
        <div class="block-header">
          <h2>For Customer</h2>
          <hr/>
          <div>
            <ul class="marked-list">
              <li><a href="#"><i class="fa fa-check"></i> Find Photographer</a></li>
              <li><a href="#"><i class="fa fa-check"></i> Hire Photographer</a></li>
              <li><a href="#"><i class="fa fa-check"></i> Communicate with Photographer</a></li>
              <li><a href="#"><i class="fa fa-check"></i> Learn about your industry</a></li>
              <li><a href="#"><i class="fa fa-check"></i> Let us assist you</a></li>
            </ul>
            <a class="btn btn__mod1" href="/customer/users/new"><i class="fa fa-users">New Customer</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>